<meta charset="UTF-8">
<nav th:fragment="menu" class="fs-3 text-white">
		<ul class="nav justify-content-center">
			<li class="nav-item"><a class="nav-link active"
				aria-current="page" th:href="@{/empleados/gerente/}">gerentes</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/empleados/tecnico/}">técnicos</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/empleados/administrativo/}">administrativos</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/empleados/operario/}">operarios</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/empleados/}">todos</a></li>
		</ul>
	</nav>
	